form {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 40px;
}

body {
    background-color: beige;
}

section {
    font-size: 2em;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 8px;
    
}

#update_daily_costs {
    color:darkred;
    font-size: 1.5em;
    font-weight: bold;
    padding: 6px;
}

#update_limits {
    color: lightcoral;
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
}
input {
    font-size: 14px;
    padding: 5px;
}
header {
    font-size: 3em;
    background-color: lightgreen;
    padding: 10px 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    position:sticky;
    top:0;



}
div {
    text-align: center;
}

button {
    text-align: center;
    font-size: 1.5em;
}

label {
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    background-color: lightgreen;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar {
    margin:0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 1.5em;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.sidebar a.active {
    background-color: lightgreen;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: yellowgreen;
}

p {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.8;
    width: 600px;
    padding:35px 50px 50px;
    border-radius: 10px;
    font-weight: bold;
}

div.aboutContent {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    display: flex;
    justify-content: center;
}

div.abtimg {
    margin-top: 150px;
    
}